body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6e6fa;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #000; 
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
